
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/config/jwt/private.pem
/config/jwt/public.pem
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> uploads utilisateurs ###
/public/uploads/*
!/public/uploads/.htaccess
!/public/uploads/laveries/
/public/uploads/laveries/*
!/public/uploads/laveries/default-laundry.jpg
!/public/uploads/medias/
###< uploads utilisateurs ###
