@import "tailwindcss";

*, ::after, ::before, ::backdrop, ::file-selector-button {
  box-sizing: inherit !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-laundrymap{
  padding: 8px;
  border-radius: 12px;
}

header{
  background-color: #14A8DE;
  padding: 10px 20px;
}

header button{
  padding: 8px;
  border-radius: 12px;
  width: 20px;
  height: 20px;
}

.nav-mobile{
  position: absolute;
  right: 0;
  background: white;
  top: 66px;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}